
.greyed {
    color: #a3a3a3;
    vertical-align: middle;
}

.canceled-time {

}

.canceled-tag {
    color: #ff0000;
}

.original-estimate {
    font-size: 14px;
}

.direction-tabs {
    color: #000000;
    background-color: #ffffff;
}

.direction-tab {
    color: #000000;
    background-color: #ffffff;
}